{% extends "bases/main_base.html" %}

{% block subtitle %} - Redirection Info{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="main-container container pt-5 text-white">
        <div class="d-flex">
            <h1 class="flex-grow-1">Redirection - {{ redirection.name }}</h1>
            <div class="d-flex align-items-center">
                <div class="btn-group">
                    <a href="/" class="btn btn-primary ml-3">Back</a>
                    <a href="/edit/{{ redirection.id }}" class="btn btn-warning ml-3">Edit</a>
                    <a href="/delete/{{ redirection.id }}" class="btn btn-danger ml-3">Delete</a>
                </div>
            </div>
        </div> <hr/>

        <div class="row">
            <div class="col-12">
                <p>Redirection URL: <a href="{{ redirection.url }}">{{ redirection.url }}</a></p>
                <p>Created at: {{ py.strftime(redirection.created_at) }}</p>
                <p>Updated at: {{ py.strftime(redirection.updated_at) }}</p>
                <hr/>
                <p>Last accessed at: {{ py.strftime(redirection.last_loaded_at) }}</p>
                <p>Last IP: {{ redirection.last_ip }}</p>
                <p>Last User Agent: {{ redirection.last_user_agent }}</p>
                <p>
                    Last Referrer:
                    {% if redirection.last_referrer.startswith("http") %}
                        <a href="{{ redirection.last_referrer }}">{{ redirection.last_referrer }}</a>
                    {% else %}
                        {{ redirection.last_referrer }}
                    {% endif %}
                </p>
                <hr/>
            </div>
        </div>

        <span>Known IPs ({{ py.len(redirection.known_ips) }}):</span>
        <table class="table">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Access Count</th>
                </tr>
            </thead>
            <tbody>
                {% for ip in redirection.known_ips %}
                    <tr>
                        <td>{{ ip.ip_address }}</td>
                        <td>{{ ip.access_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <span>All Requests ({{ redirection.load_count }}):</span>
        <table class="table">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>User Agent</th>
                    <th>Referer</th>
                    <th>Request args</th>
                    <th>Loaded at</th>
                </tr>
            </thead>
            <tbody>
                {% for request in redirection.requests %}
                    <tr>
                        <td>{{ request.ip_address }}</td>
                        <td>{{ request.user_agent }}</td>
                        <td>
                            {% if request.referrer_url.startswith("http") %}
                                <a href="{{ request.referrer_url }}">{{ request.referrer_url }}</a>
                            {% else %}
                                {{ request.referrer_url }}
                            {% endif %}
                        </td>
                        <td>{{ "<br/>".join(request.request_args.split(",")) | safe }}</td>
                        <td>{{ py.strftime(request.time_stamp) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}