{% extends "bases/main_base.html" %}

{% block subtitle %} - Redirection Lists{% endblock %}

{% block body %}
    <div class="main-container container pt-5">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h1>Redirection Lists</h1>
            </div>
            <div>
                <a href="/new" class="btn btn-primary">New Redirection</a>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message  in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endwith %}

        <div class="list-group">
            {% for redirection in redirections %}
                <div class="list-group-item d-flex">
                    <div class="flex-grow-1">
                        <h5>{{ redirection.name }}</h5>
                        <span class="text-muted">{{ redirection.url }}</span>
                    </div>
                    <div class="flex-grow-1 d-flex align-items-center">
                        <a href="/{{ redirection.slug }}">
                            {{ redirection.slug }}
                        </a>
                    </div>
                    <div class="flex-grow-1 d-flex align-items-center">
                        <span>{{ "Active" if redirection.active else "Inactive" }}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-group">
                            <a href="/info/{{ redirection.id }}" class="btn btn-outline-primary">Info</a>
                            <a
                                href="/{{ "deactivate" if redirection.active else "activate" }}/{{ redirection.id }}"
                                class="btn btn-outline-{{ "warning" if redirection.active else "success" }}"
                            >
                                {{ "Deactivate" if redirection.active else "Activate" }}
                            </a>
                            <a href="/edit/{{ redirection.id }}" class="btn btn-outline-info">Edit</a>
                            <a href="/delete/{{ redirection.id }}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if py.len(redirections) == 0 %}
                <div class="alert alert-info" role="alert">
                    No redirections found.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}