{% extends "bases/main_base.html" %}

{% block subtitle %} - Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ app_name }}</h1>
        <div class="text-center mb-5">
            <span class="text-warning" id="error">{{ error }}</span>
        </div>
        <form method="POST" action="/login{{ '?jump=' + redirect if redirect else '' }}">
            <input type="password" class="form-control mb-4" placeholder="Password" name="password" required>
            <button type="submit" class="btn btn-lg btn-info w-100" >Login</button>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}